<!doctype html>
<link rel="stylesheet" href="../static/css/hello.css" />
<title>Relazione P.C.T.O</title>
<body>
  <div class="c1">
   <h1 class="introdu">Nell'anno scolastico 2022/23, la classe<br>
    ha preso parte al progetto Giovani & Impresa,<br>
    in associazione con V.I.S.E.S Onlus.
    <br>
    <br>
    <br>
   </h1>
     <div class="c2">
      <img src="../static/images/vises.jpg">
       <h2 class="info_vises">
          una Onlus che dopo essere diventata ente di Federmanager<br>
          raccoglie le esperienze di manager volontari<br>
          per trasformare le potenzialità dei giovani in opportunità di sviluppo personale<br> 
          e professionale.
       </h2>
      </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <h989 class="titolo">
    Durata progetto
    <br>
    <br>
    <br>
    <br>
  </h989>
  <div class="c3">
        <div class="c4">
          <h1 class="e1">
            G1: 9/01/2023<br>
                5 ore 
          </h1>
          <h2 class="e2">
            G2: 10/01/2023<br>
                5 ore
          </h2>
          <h3 class="e3">
            G3: 11/01/2023<br>
                5 ore
          </h3>
        </div>
        <div class="c5">
          <h4 class="e4">
            Durata complessiva progetto:
          </h4>
          <h5 class="e5">
            15 ore
          </h5>
        </div>
  </div>

  <div class="c6">
      <div class="e6">
        TUTOR ESTERNO
      </div>

      <div class="e7">
        ELEONORA MICHELA RATTI
      </div>
      <div class="e8">
        TUTOR DIDATTICO
      </div>
      <div class="e9">
        MANUELA GORLA
      </div>

  </div>
</body>         