<!doctype html>
<link rel="stylesheet" href="../static/css/hello.css" />
<title>Relazione P.C.T.O</title>
<head>
  <h1 class="titolo_sito">
    RELAZIONE P.C.T.O

  </h1>
</head>
<body>
  <div class="c1">
    <h1 class="introdu">Nell'anno scolastico 2022/23, la classe<br>
      ha preso parte al progetto Giovani & Impresa,<br>
      in associazione con V.I.S.E.S Onlus.
      <br>
      <br>
      <br>
    </h1>
    <h1 class="g1">
      GIORNO 1:<br>09/01/2023<br>5 ore
    </h1>
    <h1 class="g2">
      GIORNO 2:<br>10/01/2023<br>5 ore
    </h1>
    <h1 class="g3">
      GIORNO 3:<br>11/01/2023<br>5 ore
    </h1>
  </div>

 <div class="c11">
      <div class="c2">
          <img src="../static/images/vises.jpg">
          <h2 class="info_vises">
              Onlus che dopo essere diventata ente di Federmanager<br>
              raccoglie le esperienze di manager volontari<br>
              per trasformare le potenzialità dei giovani in opportunità di sviluppo personale<br> 
              e professionale.
          </h2>
      </div>
 </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  
  

  <div class="c6">
      <div class="e6">
        TUTOR ESTERNO
      </div>

      <div class="e7">
        ELEONORA MICHELA RATTI
      </div>
      <div class="e8">
        TUTOR DIDATTICO
      </div>
      <div class="e9">
        MANUELA GORLA
      </div>

  </div>
  <br>
  <br>
  <br>           
  <br>
  <br>
  <br> 

  <div class="p1">
    1° PARTE DEL PROGETTO
    <br>
    <br>
    <br>
  </div>

  <div class="c12">
    <div class="d1">
        Inizialmente i manager si<br>
        sono concentrati sul descrivere<br>
        le qualità apprezzate in<br>
        ambito lavorativo.<br>
        Es:<br>
        -Problem solving<br>
        -Capacità di comunicazione 
    </div>
    <div class="grid-container">
      <div class="cell ce1">PRO</div>
      <div class="cell ce2">CONTRO</div>
      <div class="cell ce3">Nuove informazioni sul<br>
       comportamento sul lavoro<br>
      </div>
      <div class="cell ce4">Poca concentrazione sullo<br>
        sviluppo delle skills presentate
      </div>
    
  
  
    
      <!-- Aggiungi altre celle come necessario -->
    </div>

  

  </div>
  <br>
  <br>
  <br>
  <div class="immagine_2">
    <img src="../static/images/immagine a cazzo.jpg" height="200px" width="300px">
  </div>

</body>         