<!doctype html>
<link rel="stylesheet" href="../templates/static/css/hello.css" />
<title>Relazione P.C.T.O</title>
<head>
  <div class="c1">
   <h1>Nell'anno scolastico 2022/23, la classe ha preso parte al progetto Giovani & Impresa,<br>
     in associazione con V.I.S.E.S Onlus,<br>
   </h1>
     <div class="c2">
       <img src="../templates/images/vises.png" class="img_1">
       <h2 class="info_vises">
          una Onlus che dopo essere diventata ente di Federmanager<br>
          raccoglie le esperienze di manager volontari<br>
          per trasformare le potenzialità dei giovani in opportunità di sviluppo personale<br> 
          e professionale.
       </h2>
      </div>
  </div>

</head>         